<div class="main-about">
  <h1 class="main-about-fewWords roboto-bold">Kilka słów o mnie</h1>

  <p class="main-about-contentSmall roboto-regular">Moim wielkim, jak dotąd nie spełnionym marzeniem jest rozpoczęcie pracy jako programista. Postanowiłem&nbsp;zacząć od projektowania stron, ponieważ w tym celu nie potrzebuję nie wiadomo jak wielkich, niedostępnych&nbsp;na wyciągnięcie mojej ręki zasobów sprzętowych.
    Postawiłem na rozwój oraz nabywanie doświadczenia. Liczę, że uda Nam się dojść do porozumienia, w&nbsp;którym&nbsp;obie strony umowy będą zadowolone.</p>
  <p class="main-about-contentBig roboto-regular">Moim wielkim, jak dotąd nie spełnionym marzeniem jest rozpoczęcie pracy jako programista. Postanowiłem zacząć&nbsp;od projektowania stron, ponieważ w tym celu nie potrzebuję nie wiadomo jak wielkich, niedostępnych&nbsp;na wyciągnięcie mojej ręki zasobów sprzętowych.
    Postawiłem&nbsp;na rozwój oraz nabywanie doświadczenia. Liczę,&nbsp;że uda Nam się dojść do porozumienia, w&nbsp;którym&nbsp;obie&nbsp;strony umowy będą zadowolone.</p>

  <h2 class="main-about-chance roboto-regular">Dajmyh sobie szansę!</h2>
</div>
