<div class="main-description">
  <img class="main-description_PortraitFoto" src="assets/portraitFoto.png" alt="portraitFoto" name="portraitFoto">
  <a class="main-description_Text poppins-regular">Napiszę do Ciebie stronę internetową. Wykonam drobne prace remontowo-budowlane. Jestem&nbsp;młodym pasjonatem chcącym nabrać doświadczenia w pracy zawodowej. Jeśli potrzebujesz pomocy ze swoim projektem to bardzo chętnie Ci pomogę. Kto&nbsp;wie? Może nasza współpraca okażę się owocna? <span class="main-description_TextHighlight">Przekonajmy&nbsp;się.</span></a>
</div>
